:root{
    --c-dark-blue: hsl(233, 26%, 24%);
    --c-lime-green: hsl(136, 65%, 51%);
    --c-bright-cyan: hsl(192, 70%, 51%);
    --c-grayish-blue: hsl(233, 8%, 62%);
    --c-light-grayish-blue: hsl(220, 16%, 96%);
    --c-very-light-gray: hsl(0, 0%, 98%);
    --c-white: hsl(0, 0%, 100%);

    --g-primary: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
}

body{
    font-size: 1.8rem;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
    color: var(--c-dark-blue);
    line-height: 1.2;
    font-weight: 400;
}

p{
    color: var(--c-grayish-blue);
    font-weight: 300;

    font-size: 1.8rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: var(--c-grayish-blue);
}




.header{
    background: var(--c-white);
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 10%;

    &__nav__list{
        display: flex;
        align-items: center;
        justify-content: center;

        &__item{
            margin-right: 3rem;
            font-size: 1.6rem;

            &--last{
                margin-right: 0;
            }
        }
    }
}

.btn{
    font-size: 1.6rem;
    color: var(--c-white);
    background: var(--g-primary);
    padding: 1.2rem 3rem;
    border-radius: 22rem;
    font-weight: 400;
    cursor: pointer;
}

.hero{
    display: grid;
    gap: 5rem;
    grid-template-columns: 30% 1fr;
    justify-content: space-between;
    margin-left: 10%;
    overflow: hidden;
    margin-bottom: -20rem;

    

    &__text{
        align-self: center;

        &__title{
            font-size: 6.4rem;
            margin-bottom: 3rem;
        }

        &__para{
            margin-bottom: 4rem;
        }
    }

    &__img{
        display: flex;
        justify-content: flex-end;
        align-self: top;
        width: 100%;
        justify-self: center;
        background: url('images/bg-intro-desktop.svg') no-repeat;
        background-size: contain;
        background-position: 0 0;
        margin-right: -23%;


        & img {
            object-fit: cover;
        }
    }
}

.section-heading{
    font-size: 4.2rem;
    margin-bottom: 3rem;
}


.features{
    background: var(--c-light-grayish-blue);
    padding: 15rem 10%; 

    &__wrapper{
        padding-top: 8rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        gap: 3rem;

    }

    &__item{
        &__img{
            margin-bottom: 3rem;
        }

        &__title{
            font-size: 2.4rem;
            margin-bottom: 3rem;
        }
    }
}