:root {
  --c-dark-blue: hsl(233, 26%, 24%);
  --c-lime-green: hsl(136, 65%, 51%);
  --c-bright-cyan: hsl(192, 70%, 51%);
  --c-grayish-blue: hsl(233, 8%, 62%);
  --c-light-grayish-blue: hsl(220, 16%, 96%);
  --c-very-light-gray: hsl(0, 0%, 98%);
  --c-white: hsl(0, 0%, 100%);
  --g-primary: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Public Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--c-dark-blue);
  line-height: 1.2;
  font-weight: 400;
}

p {
  color: var(--c-grayish-blue);
  font-weight: 300;
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--c-grayish-blue);
}

img {
  max-width: 100%;
}

.header {
  background: var(--c-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.8rem 10%;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav__list__item {
  margin-right: 3rem;
  font-size: 1.6rem;
}

.header__nav__list__item--last {
  margin-right: 0;
}

.btn {
  font-size: 1.6rem;
  color: var(--c-white);
  background: var(--g-primary);
  padding: 1.2rem 3rem;
  border-radius: 22rem;
  font-weight: 400;
  cursor: pointer;
}

.hero {
  display: -ms-grid;
  display: grid;
  gap: 5rem;
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10%;
  overflow: hidden;
  margin-bottom: -20rem;
}

.hero__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero__text__title {
  font-size: 6.4rem;
  margin-bottom: 3rem;
}

.hero__text__para {
  margin-bottom: 4rem;
}

.hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: top;
      align-self: top;
  width: 100%;
  justify-self: center;
  background: url("images/bg-intro-desktop.svg") no-repeat;
  background-size: contain;
  background-position: 0 0;
  margin-right: -23%;
}

.hero__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.section-heading {
  font-size: 4.2rem;
  margin-bottom: 3rem;
}

.features {
  background: var(--c-light-grayish-blue);
  padding: 15rem 10%;
}

.features__wrapper {
  padding-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.features__item__img {
  margin-bottom: 3rem;
}

.features__item__title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.articles {
  padding: 15rem 10%;
  background-color: var(--c-very-light-gray);
}

.articles__item__container {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding-top: 4rem;
}

.articles__item {
  border-radius: 6px;
  overflow: hidden;
  background: var(--c-white);
}

.articles__item__img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.articles__item__text {
  padding: 6%;
}

.articles__item__text__author {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.articles__item__text__title {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.articles__item__text__para {
  font-size: 1.6rem;
}

.footer {
  background-color: var(--c-dark-blue);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2] 2fr 1fr;
      grid-template-columns: repeat(2, 1fr) 2fr 1fr;
  padding: 5rem 10%;
}

.footer__logo .text {
  fill: #fff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social__list__item {
  margin-right: .8rem;
}

.footer__social__list__item--last {
  margin-right: 0;
}

.footer__nav__list__item {
  padding-bottom: .8rem;
  font-size: 1.4rem;
  color: var(--c-very-light-gray);
}

.footer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-size: 1.4rem;
}
/*# sourceMappingURL=styles.css.map */