:root{
    --c-dark-blue: hsl(233, 26%, 24%);
    --c-lime-green: hsl(136, 65%, 51%);
    --c-bright-cyan: hsl(192, 70%, 51%);
    --c-grayish-blue: hsl(233, 8%, 62%);
    --c-light-grayish-blue: hsl(220, 16%, 96%);
    --c-very-light-gray: hsl(0, 0%, 98%);
    --c-white: hsl(0, 0%, 100%);
}